body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 500px;
    transition: background-color 0.5s ease;
}

h4 {
    font-weight: normal; /* Define o peso da fonte como normal (não negrito) */
  }
.light-mode {
    background-image: url(./Imagens/Background\ branco.png);
    background-size: 100%;
    color: #000000;
}

.dark-mode {
    background-image: url(./Imagens/Background\ preto.png);
    background-size: 100%;
    color: #ffffff;
}

/* styles.css */
.imagem-container {
    position: relative;
    overflow: hidden;
  }
  
  .imagem-container img {
    width: 45%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .imagem-container:hover img {
    transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito desejado */
  }
  